$colorOne : grey;
$colorTwo: skyblue;
$colorThree: white;

@mixin bigDog() {
    font-size: 20px;
    color: $colorTwo;
}

body {
    background-color: $colorThree;
    text-align: center;
    margin: 20px;
    button {
        color: red;
        &:Hover {
            color: red;
        }
    }
}
p, h1, h2 {
    color: $colorOne;
}

.card-container {

    max-width: 1400px;
    margin: 40px auto 0 auto;
}
@media (min-width: 900px) {
    .card-container {
        display: flex;
        justify-content: space-between;
    }
}

.card {
    flex: 1;
}